// box
$box_width: 90rem;
$heading_font: 11rem;

/* Colors: */
$unnamed-color-fffefe: #FFFEFE;
$unnamed-color-101010: #101010;
$unnamed-color-15e587: #15E587;
$bg-color-opacity-20 : #fffefe4d;
$text-color-light : #fffefea1;
$unnamed-color-f5f1f1: #F5F1F1;
$unnamed-color-f6f6f6: #F6F6F6;
$bg-color-1d1d1d: #1D1D1D;
// $bg-color-1d1d1d: #2b3a41;
$unnamed-color-ffffff: #FFFFFF;
$unnamed-color-707070: #707070;
$black-color: #000000;

/* Font/text values */
$unnamed-font-family-tandelle: Tandelle;
$unnamed-font-family-sofia-pro: Sofia Pro;
$unnamed-font-family-tsanafia: Tsanafia;
$unnamed-font-family-cougars: Cougars;
$unnamed-font-family-sergio-trendy: Sergio Trendy;
$unnamed-font-family-geomanist: Geomanist;
$unnamed-font-style-normal: normal;
$unnamed-font-style-italic: italic;
$unnamed-font-weight-200: 20rem;
$unnamed-font-weight-300: 30rem;
$unnamed-font-weight-normal: normal;
$unnamed-font-weight-medium: medium;
$unnamed-font-size-25: 2.5rem;
$unnamed-font-size-27: 2.7rem;
$unnamed-font-size-30: 3rem;
$unnamed-font-size-35: 3.5rem;
$unnamed-font-size-38: 3.8rem;
$unnamed-font-size-40: 4rem;
$unnamed-font-size-44: 4.4rem;
$unnamed-font-size-95: 9.5rem;
$unnamed-font-size-140: 14rem;
$unnamed-font-size-170: 17rem;
$unnamed-character-spacing-14: 1.4rem;
$unnamed-character-spacing-51: 5.1rem;
$unnamed-character-spacing-11-06: 11.06px;
$unnamed-character-spacing-68-85: 6.8rem;
$unnamed-character-spacing-0-68: 0.68px;
$unnamed-character-spacing-1-98: 1.98px;
$unnamed-character-spacing-1-6: .6rem;
$unnamed-character-spacing-3-16: 3.16px;
$unnamed-character-spacing-3-48: 3.48px;
$unnamed-line-spacing-29: 2.9rem;
$unnamed-line-spacing-30: 3rem;
$unnamed-line-spacing-33: 3.3rem;
$unnamed-line-spacing-36: 3.6rem;
$unnamed-line-spacing-40: 4rem;
$unnamed-line-spacing-42: 4.2rem;
$unnamed-line-spacing-43: 4.3rem;
$unnamed-line-spacing-46: 4.6rem;
$unnamed-line-spacing-68: 6.8rem;
$unnamed-line-spacing-118: 11.8rem;
$unnamed-line-spacing-158: 15.8rem;
$unnamed-line-spacing-191: 19.1rem;
$unnamed-line-spacing-2930: 293rem;
$unnamed-text-transform-uppercase: uppercase;
$unnamed-text-transform-titlecase: titlecase;
$unnamed-text-transform-lowercase: lowercase;